* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.section-heading {
  color: #02033b;
  font-size: 48px;
  font-weight: bold;
  font-family: var(--inter-fonts);
}

:root {
  --inter-fonts: "Inter", sans-serif;
  --abeeZee-fonts: "ABeeZee", sans-serif;
  --navbar-container: 1440px;
  --section-container: 1140px;
}
/* common css end */

/* header style start here  */

header {
  padding: 0 20px;
}
hr {
  border: 1px solid #f0f0f0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--navbar-container);
  margin: 0 auto;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav .menu {
  display: flex;
  align-items: center;
  gap: 22px;
  font-family: var(--abeeZee-fonts);
  padding: 20px 0;
}

.logo-img {
  width: 91px;
  height: 32px;
}
.logo-img img {
  width: 100%;
  margin-top: -5px;
}

nav ul li a {
  color: #050038;
  text-transform: capitalize;
}

.fa-angle-down {
  font-size: 12px;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

/* Dropdown button */
.dropdown button {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.login-btn {
  border: none;
  outline: none;
  background-color: #fff;
}
.login-btn a {
  font-family: var(--abeeZee-fonts);
  color: #050038;
  font-size: 16px;
}
.signup-btn {
  border: none;
  outline: none;
  padding: 17px 22px;
  border-radius: 24px;
  background: #4262ff;
}
.signup-btn a {
  color: #fff;
  font-family: var(--abeeZee-fonts);
  font-size: 16px;
}

/* header style ============= end here  */

/* banner section start here  */
#banner_part {
  width: var(--section-container);
  margin: 0 auto;
  padding-top: 60px;
  margin-bottom: 120px;
}
.hero-section {
  display: flex;
  gap: 60px;
}
.hero-section .text-part {
  width: 440px;
}

.banner-heading {
  line-height: 56px;
  margin-bottom: 16px;
}
.hero-section .text-part .first-pera {
  font-size: 18px;
  font-family: var(--abeeZee-fonts);
  color: #8d8c92;
  margin-bottom: 32px;
}
.hero-section .text-part input {
  display: block;
  width: 100%;
  padding: 12px 25px;
  border-radius: 32px;
  border: 1px solid #9b99af;
  font-family: var(--abeeZee-fonts);
  margin-bottom: 10px;
}
.hero-section .text-part button {
  border: none;
  width: 100%;
  background-color: #4262ff;
  padding: 12px 0;
  border-radius: 32px;
  margin-bottom: 7px;
}

.hero-section .text-part button a {
  color: #fff;
  font-family: var(--abeeZee-fonts);
  font-size: 18px;
}
.hero-section .text-part .second-pera {
  color: #8d8c92;
  margin-bottom: 40px;
}

.hero-section .text-part .reviews {
  background-color: #f5f5f7;
  padding: 14px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.hero-section .text-part .reviews .reviews-ratings {
  width: 136px;
}

.hero-section .text-part .reviews .fa-star,
.fa-star-half-stroke {
  color: #ff9d48;
  margin-bottom: 2px;
}
.hero-section .text-part .reviews p {
  color: #050038;
  font-size: 11px;
  font-family: var(--inter-fonts);
}
.hero-section .text-part .reviews .reviews-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.hero-section .banner-img {
  width: 640px;
}
.hero-section .banner-img img {
  width: 100%;
}
/* banner section ================== end here  */

/* trusted user section style start here  */
#trusted_user {
  width: var(--section-container);
  margin: 0 auto;
  padding-bottom: 84px;
}
#trusted_user p {
  text-align: center;
  font-family: var(--inter-fonts);
  font-size: 18px;
  color: #8d8c92;
  margin-bottom: 48px;
}
#trusted_user .trusted-user-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* trusted user section ============== style end here  */

/* collaborate part style start here */
#collaborate_part {
  width: var(--section-container);
  margin: 0 auto;
  padding-bottom: 92px;
}
#collaborate_part h2 {
  text-align: center;
  width: 490px;
  margin: 0 auto;
  padding-bottom: 12px;
}
#collaborate_part .features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}
#collaborate_part .features h4 {
  color: #050038;
  font-size: 24px;
  font-weight: bold;
  font-family: var(--inter-fonts);
  margin-bottom: 30px;
}
#collaborate_part .features .feature {
  padding: 30px;
  font-family: var(--abeeZee-fonts);
  font-size: 18px;
  color: #8d8c92;
}
#collaborate_part .features .feature span a {
  color: #4262ff;
}
#collaborate_part button {
  border: none;
  outline: none;
  padding: 12px 30px;
  border-radius: 24px;
  background-color: #4262ff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#collaborate_part button a {
  color: #fff;
  font-family: var(--abeeZee-fonts);
}

/* collaborate part ============= style end here */

/* work together section style start here */
#work_together-section {
  width: var(--section-container);
  margin: 0 auto;
  padding-bottom: 120px;
}
#work_together-section .work-part {
  display: flex;
  align-items: center;
  gap: 20px;
}

#work_together-section .work-part .text-part {
  width: 560px;
}

#work_together-section .work-part .text-part h2 {
  margin-bottom: 16px;
  line-height: 56px;
}
#work_together-section .work-part .text-part p {
  color: #8d8c92;
  font-family: var(--inter-fonts);
  font-size: 18px;
  width: 353px;
  margin-bottom: 40px;
}

#work_together-section .learn-more a {
  color: #4262ff;
  font-family: var(--inter-fonts);
}
#work_together-section .img-part {
  width: 560px;
}
#work_together-section .img-part img {
  width: 100%;
}
/* work together ============= section style end here */

/* connect tools part start here  */

#connect_tools-part {
  padding-bottom: 60px;
}

#connect_tools-part .details {
  width: var(--section-container);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#connect_tools-part .details .img-part {
  width: 550px;
}
#connect_tools-part .details .img-part img {
  width: 100%;
}

#connect_tools-part .details .text-part {
  width: 465px;
}
#connect_tools-part .details .text-part h2 {
  padding-bottom: 28px;
}
#connect_tools-part .details .text-part p {
  color: #8d8c92;
  font-size: 18px;
  font-family: var(--inter-fonts);
  padding-bottom: 52px;
}

#connect_tools-part .learn-more a {
  color: #4262ff;
  font-family: var(--inter-fonts);
}
/* connect tools =============== part end here  */

/* the ways we work section style start here */
#the_ways-work {
  margin-bottom: 60px;
}

#the_ways-work .details {
  background-image: url("/images/the ways we work.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: var(--section-container);
  margin: 0 auto;
}
#the_ways-work .details .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 191px 40px 191px;
}

#the_ways-work .details .text .text-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#the_ways-work .details .text .text-details h4 {
  color: #050038;
  font-size: 22px;
  font-family: var(--inter-fonts);
}
#the_ways-work .details .text .text-details p {
  color: #050038;
  font-size: 18px;
  font-family: var(--abeeZee-fonts);
  margin: 8px 0;
}
#the_ways-work .details .text .text-details .view-report-btn {
  padding: 10px 30px;
  background-color: #4262ff;
  border-radius: 40px;
  color: #fff;
}
#the_ways-work .details .text .text-details .view-report-btn a {
  color: #fff;
  font-family: var(--abeeZee-fonts);
  font-size: 14px;
}

/* the ways we work =================== section style end here */

/* Built for the way section style start here */
#built_for-the-way {
  margin-bottom: 150px;
}
#built_for-the-way .details {
  width: var(--section-container);
  margin: 0 auto;
}
#built_for-the-way .details h2 {
  margin-bottom: 32px;
}
#built_for-the-way .details .features a {
  display: inline-block;
  padding: 10px 22px;
  border: 1px solid #f2f2f2;
  border-radius: 24px;
  margin-left: 8px;
  margin-bottom: 26px;
}
#built_for-the-way .details .features a:hover {
  background-color: #f1f3fd;
  transition: all 0.3s;
}
#built_for-the-way .details .text-details {
  width: 360px;
  padding: 30px 40px 0 16px;
}
#built_for-the-way .details .text-details h5 {
  color: #050038;
  font-size: 18px;
  font-family: var(--abeeZee-fonts);
}
#built_for-the-way .details .text-details p {
  color: #8d8c92;
  font-size: 18px;
  font-family: var(--abeeZee-fonts);
  padding: 26px 0 36px;
}
#built_for-the-way .details .text-details .learn-more a {
  color: #4262ff;
  font-size: 18px;
  font-family: var(--abeeZee-fonts);
}

#built_for-the-way .details .text-and-img {
  display: flex;
}

#built_for-the-way .details .image {
  width: 700px;
}
#built_for-the-way .details .image img {
  width: 100%;
}
/* Built for the way =========== section style end here */

/* Built for all kinds section style start here  */
#built_for-all-kinds {
  margin-bottom: 150px;
}
#built_for-all-kinds .details {
  width: var(--section-container);
  margin: 0 auto;
}
#built_for-all-kinds .details h2 {
  margin-bottom: 32px;
}
#built_for-all-kinds .details .features a {
  display: inline-block;
  padding: 10px 22px;
  border: 1px solid #f2f2f2;
  border-radius: 24px;
  margin-left: 8px;
  margin-bottom: 26px;
}
#built_for-all-kinds .details .features a:hover {
  background-color: #f1f3fd;
  transition: all 0.3s;
}
#built_for-all-kinds .details .text-details {
  width: 360px;
  padding: 30px 40px 0 16px;
}
#built_for-all-kinds .details .text-details h5 {
  color: #050038;
  font-size: 18px;
  font-family: var(--abeeZee-fonts);
}
#built_for-all-kinds .details .text-details .kinds {
  display: flex;
  gap: 14px;
  margin: 16px 0;
}

#built_for-all-kinds .details .text-details p {
  color: #8d8c92;
  font-size: 18px;
  font-family: var(--abeeZee-fonts);
}

#built_for-all-kinds .details .text-details .learn-more {
  margin-top: 25px;
}

#built_for-all-kinds .details .text-details .learn-more a {
  color: #4262ff;
  font-size: 18px;
  font-family: var(--abeeZee-fonts);
}

#built_for-all-kinds .details .text-and-img {
  display: flex;
}
#built_for-all-kinds .details .text-and-img .favorite-tools {
  margin-top: 70px;
}
#built_for-all-kinds .details .text-and-img .favorite-tools span {
  color: #8d8c92;
  font-size: 18px;
  font-family: var(--abeeZee-fonts);
  margin-bottom: 20px;
  display: inline-block;
}
#built_for-all-kinds .details .text-and-img .favorite-tools .tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#built_for-all-kinds .details .text-and-img .favorite-tools .tools img {
  width: 30px;
  height: 30px;
}

#built_for-all-kinds .details .image {
  width: 700px;
}
#built_for-all-kinds .details .image img {
  width: 100%;
}
/* Built for all kinds ================== section style end here  */

/* world best team section style start here */
#world_best-team {
  margin-bottom: 100px;
}
#world_best-team .details {
  width: var(--section-container);
  margin: 0 auto;
}
#world_best-team .details h2 {
  text-align: center;
  margin-bottom: 24px;
}

#world_best-team .details .btn {
  display: flex;
  justify-content: center;
}

#world_best-team .details .customer-stories-btn {
  padding: 12px 30px;
  border: 1px solid #4262ff;
  border-radius: 24px;
  color: #4262ff;
}
#world_best-team .details .customer-stories-btn a {
  color: #4262ff;
  font-family: var(--abeeZee-fonts);
}

#world_best-team .details .customer-stories {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
#world_best-team .details .customer-stories .sotores {
  width: 360px;
  height: 460px;
  padding: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#world_best-team .details .customer-stories .sotores > img {
  height: 60px;
  width: 288px;
}
#world_best-team .details .customer-stories .sotores > p {
  color: #8d8c92;
  font-size: 18px;
  font-family: var(--abeeZee-fonts);
}

#world_best-team .details .customer-stories .sotores .customer {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: var(--abeeZee-fonts);
  font-size: 14px;
  color: #8d8c92;
}

/* world best team ==================== section style end here */

/* Footer section style start here  */
#footer {
  padding: 96px 0;
  background-color: #02033b;
}
#footer .footer-details {
  width: var(--section-container);
  margin: 0 auto;
}
#footer .footer-details .details {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

#footer .footer-details .social-media-part {
  width: 312px;
}

#footer .footer-details h3 {
  color: #fff;
  font-size: 23px;
  font-weight: bolder;
  font-family: var(--inter-fonts);
}
#footer .footer-details .social-icon {
  display: flex;
  gap: 40px;
  margin: 49px 0 30px;
}
#footer .footer-details .social-icon a {
  display: inline-block;
  padding: 8px;
  background-color: #fff;
  color: #02033b;
  font-size: 20px;
  border-radius: 5px;
}

#footer .footer-details .Privacy-tearms a {
  color: #fff;
  font-size: 11px;
  font-family: var(--inter-fonts);
  text-decoration: underline;
  margin-bottom: 36px;
  display: inline-block;
  margin-right: 24px;
}

#footer .footer-details .copyright {
  color: #ffffff;
  font-size: 11px;
  font-family: var(--inter-fonts);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#footer .footer-details .links-part h2 {
  color: #fff;
  font-size: 35px;
  font-family: var(--inter-fonts);
  font-weight: bolder;
  margin-bottom: 25px;
}
#footer .footer-details .links-part .links {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #ffc247;
  font-size: 19px;
  font-weight: bolder;
  font-family: var(--inter-fonts);
  margin-top: 60px;
}

#footer .footer-details .links-part .links .link hr {
  display: inline-block;
  width: 20px;
  border: 1px solid #ffc247;
}
#footer .footer-details .links-part .links .link {
  display: flex;
  align-items: center;
  gap: 24px;
}
#footer .footer-details .links-part .links .link a {
  color: #ffc247;
}

#footer .footer-details .footer-form {
  width: 436px;
  background-image: url("/images/footer form.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 36px;
  border-radius: 24px;
}
#footer .footer-details .footer-form h2 {
  color: #02033b;
  font-size: 23px;
  font-weight: bolder;
  font-family: var(--inter-fonts);
}
#footer .footer-details .footer-form p {
  color: #02033b;
  font-size: 15px;
  font-family: var(--inter-fonts);
  margin: 21px 0 36px;
  line-height: 20px;
}
#footer .footer-details .footer-form input {
  padding: 8px 16px;
  border-radius: 16px 0 0 16px;
  border: none;
  width: 70%;
  font-size: 15px;
  font-weight: bolder;
  font-family: var(--inter-fonts);
}
#footer .footer-details .footer-form button {
  padding: 8px 16px;
  border-radius: 0 16px 16px 0;
  border: none;
  background-color: #02033b;
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
  font-family: var(--inter-fonts);
  margin-left: -10px;
}

#footer .footer-details .footer-pera {
  width: 550px;
  color: #fff;
  font-size: 12px;
  font-family: var(--inter-fonts);
  margin-top: 80px;
}

/* Footer section =========== style end here  */
